@model CosCumparaturi.Models.Produse

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Produse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Denumire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Denumire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descriere)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descriere)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Canti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Canti)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valabilitate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valabilitate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
